* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f8b842;
}

/* ESTILIZAÇÃO FOOTER */

footer {
    background-color: #f8f8f8;
    padding: 2rem 1rem;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 0 1rem;
}

.footer-column.large {
    flex: 2;
    margin-left: 3rem;
    margin-top: 2rem;
}

.footer-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.social-icons a {
    margin-right: 1rem;
    color: #555;
    text-decoration: none;
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: #000;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-column ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    text-decoration: none;
    color: #555;
}

.footer-column ul li a:hover {
    color: #000;
}

footer p {
    color: #777;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.logo-titulo-cadastro {
    text-align: center;
    margin-top: 2rem;
}

.logo-titulo-cadastro .logo {
    margin-bottom: 1rem;
}

.logo-titulo-cadastro h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
}

.formulario-cadastro {
    width: 60%;
    margin: 2rem 0; 
    padding: 2rem; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadastro-card {
    width: 100%;
}

.card-cabecalho {
    text-align: center;
    margin-bottom: 20px;
}

.card-cadastro-titulo {
    font-size: 2rem;
    font-weight: 600;
    color: #3F3E3E;
}

.campo-cadastro {
    margin-bottom: 20px;
}

.campo-cadastro label {
    display: block;
    margin-bottom: 5px;
    color: #3F3E3E;
}

.campo-cadastro input[type="text"],
.campo-cadastro input[type="email"],
.campo-cadastro input[type="number"],
.campo-cadastro input[type="password"],
.campo-cadastro input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.campo-cadastro input[type="checkbox"],
.campo-cadastro input[type="radio"] {
    margin-right: 5px;
}

.info-termoscondicoes {
    font-size: 12px;
    color: #3F3E3E;
}

.botao-cadastro {
    background-color: #37A416;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.botao-cadastro:hover {
    background-color: #7edb61;
    color: #FFFFFF;
}
