@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8b842;
}

/* ESTILIZAÇÃO DA PAGINA DE LOGIN */

main.login-page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-image img {
    max-width: 100%;
    height: auto;
}

.container-formulario-login {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.formulario-login {
    width: 100%;
    max-width: 800px;
    background: #f8f8f8;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-cabecalho {
    text-align: center;
    margin-bottom: 1rem;
}

.card-cadastro-titulo {
    font-size: 1.5rem;
    color: #333;
}

.campo-cadastro {
    margin-bottom: 1.5rem;
    position: relative;
}

.campo-cadastro label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.campo-cadastro i {
    margin-right: 0.5rem;
}

.campo-cadastro input {
    width: 100%;
    padding: 0.75rem;
    padding-left: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.campo-cadastro input::placeholder {
    color: #aaa;
}

.botao-cadastro {
    background-color: #37A416;
    border: none;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-family: Inter, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    width: 100%;
}

.botao-cadastro:hover {
    background-color: #7edb61;
    color: #FFFFFF;
}

.formulario-login p {
    text-align: center;
    font-size: 1rem;
    color: #333;
}

.formulario-login a {
    color: #37A416;
    text-decoration: none;
}

.formulario-login a:hover {
    text-decoration: underline;
}

.logo-titulo-cadastro {
    text-align: center;
    margin-top: 2rem;
}

.logo-titulo-cadastro .logo {
    margin-bottom: 1rem;
}

.logo-titulo-cadastro h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
}

.formulario-cadastro, .formulario-login {
    width: 60%;
    margin: 2rem 0; 
    padding: 2rem; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadastro-card {
    width: 100%;
}

.card-cabecalho {
    text-align: center;
    margin-bottom: 20px;
}

.card-cadastro-titulo {
    font-size: 2rem;
    font-weight: 600;
    color: #3F3E3E;
}

.campo-cadastro {
    margin-bottom: 20px;
}

.campo-cadastro label {
    display: block;
    margin-bottom: 5px;
    color: #3F3E3E;
}

.campo-cadastro input[type="text"],
.campo-cadastro input[type="email"],
.campo-cadastro input[type="number"],
.campo-cadastro input[type="password"],
.campo-cadastro input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.campo-cadastro input[type="checkbox"],
.campo-cadastro input[type="radio"] {
    margin-right: 5px;
}

.info-termoscondicoes {
    font-size: 1rem;
    color: #3F3E3E;
}



